body {
    margin: 0;
    font-family: 'Chirp', sans-serif;
    background: #000000;
    background-size: 300% 300%;
    background-attachment: fixed;
    background-position: 0% 50%;
    color: #ffffff;
    /*animation: cool 10s ease infinite;*/
}

a,
a:visited {
    color: #bcc0ff;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #e4e4e4;
    text-decoration: underline;
}

a:visited {
    color: #acacac;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #FFFFFF;
    font-weight: 1000;
}

strong {
    font-weight: 700;
}

.medium-text {
    font-weight: 500;
}

/* Fonts */
@font-face {
    font-family: 'Chirp';
    src: url('/files/fonts/twitter/chirp/chirp-regular-web.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Chirp';
    src: url('/files/fonts/twitter/chirp/chirp-medium-web.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Chirp';
    src: url('/files/fonts/twitter/chirp/chirp-bold-web.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Chirp';
    src: url('/files/fonts/twitter/chirp/chirp-heavy-web.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}